INIT_MESSAGE_SHOW=true
INIT_MESSAGE_TITLE=Atención
INIT_MESSAGE_DESCRIPTION=Un mensaje de inicio
INIT_MESSAGE_TIMEOUT=5000
SHOW_FOOTER_SPONSORS=true
URL_SCRATCH=http://localhost:5173/scratch/
LML_ALGO_MODE=server
LML_ALGO_BASE_URL=http://localhost:3000
FORCE_CPU_BACKEND_CHROME=false
#BASE_URl=/lml-editor/
